.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 60px 38px;

    &__nav {
        margin-left: auto;
    }

    &__nav-burger {
        display: block;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__nav-link {
        color: $text-dark;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        padding-right: 15px;
        padding-bottom: 3px;
        margin-bottom: 3px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 4px;
            right: 0;
            border: 5px solid transparent;
            border-top: 5px solid $text-dark;
            transition: all 0.5s;
        }

        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: transparent;
            transition: all 0.5s;
        }

        &--active::before {
            background-color: $accent;
        }

        &--active::after {
            transform: rotate(180deg);
        }
    }

    &__nav-sublist {
        margin-top: 3px;
        position: absolute;
        display: none;
        background-color: #fff;
    }

    &__nav-sublink {
        display: block;
        padding: 5px 0;
        font-size: 12px;
        color: $text-dark;
    }

    &__btn--login {
        margin-right: 10px;
        margin-left: auto;
        padding: 14px 20px 9px;
    }

    &__btn--start {
        padding: 14px 28px 9px;
    }
}

@media (max-width: 1200px) {
    .header {
        .logo__img {
            width: 168px;
            height: 24px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        padding: 5px 8px;
        gap: 12px;

        &__nav-burger {
            display: block;
            position: relative;
            background-color: transparent;
            width: 24px;
            height: 16px;
            border-radius: 3px;
            z-index: 2;
            order: -1;
            transition: all 0.5s;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                background-color: $title;
                height: 2px;
                left: 0;
                transition: all 0.5s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active {
                .header__nav-burgerline {
                    transform: scale(0);
                }
            }
        }

        .active {
            &::before {
                transform: rotate(45deg);
                top: 7px;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: 7px;
            }
        }

        &__nav-burgerline {
            position: absolute;
            left: 0;
            top: 7px;
            width: 100%;
            height: 2px;
            background-color: #22252e;
            transition: all 0.5s;
        }

        &__nav {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            padding-top: 55px;
            display: block;
            text-align: center;
            transform: translateX(-200%);
            z-index: 1;
            min-height: 100vh;
            transition: all 0.5s;
            background-color: #fff;

            &.active {
                transform: translateX(0);
            }
        }

        &__nav-list {
            flex-direction: column;
            justify-content: center;
        }

        &__nav-item {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        &__nav-sublist {
            position: static;
        }

        &__btn--start {
            padding: 14px 15px 9px;
        }
    }
}

@media (max-width: 567px) {
    .header {
        flex-wrap: wrap;

        .logo {
            margin-right: auto;
        }

        &__btn--login {
            display: none;
        }
    }
}