.rate-card {
    background-color: #fff;
    max-width: 380px;
    height: 340px;
    padding: 49px 83px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid transparent;
    border-radius: 6px;
    transition: all 0.3s;

    &:hover {
        border: 4px solid $accent;
        transform: scale(1.07);
    }

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: $text-dark;
        padding-bottom: 8px;
        margin-bottom: 15px;
        position: relative;

        &--bold {
            font-weight: 700;
        }

        &::after {
            position: absolute;
            content: "";
            width: 24px;
            height: 2px;
            background-color: $accent;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__priсe {
        display: block;
        font-weight: 300;
        font-size: 24px;
        color: $title;
        border-bottom: 1px solid #ebeced;
        margin-bottom: 29px;
    }

    &__priсe-num {
        font-size: 56px;
        padding-left: 20px;
        position: relative;

        &::before {
            position: absolute;
            content: "$";
            font-size: 24px;
            left: 0;
            top: 0;
        }
    }

    &__old-price {
        font-size: 14px;
        color: #f24458;
        margin-right: 8px;
    }

    &__benefits {
        font-size: 14px;
        color: $text-dark;
    }

    &__save {
        display: block;
        font-size: 14px;
        font-weight: 700;
        color: $text-dark;
        margin-top: 9px;
    }

    &__btn {
        width: 205px;
        padding: 14px 0 9px;
    }
}

@media (max-width: 567px) {
    .rate-card {
        padding: 53px 39px 40px;

        &:hover {
            border: 4px solid #FF8D00;
        }

        &__btn {
            &:hover,
            &:focus {
              background: linear-gradient(#FFA400, #FF8D00);  
            }
            
        }
    }
}